<div class="row">
    <div class="col-12">
        <div class="card rounded shadow-sm">
            <form>
                <div class="p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Insira o nome do condomínio">
                        </div>
                        <div class="form-group col-md-6">
                            <label>CNPJ</label>
                            <input type="text" class="form-control" placeholder="Insira o CNPJ do condomínio">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Quantidade de Unidades</label>
                            <input type="number" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Quantidade de Andares</label>
                            <input type="number" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Quantidade de Blocos</label>
                            <input type="number" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Telefone</label>
                            <input type="text" class="form-control" placeholder="(00) 90000-0000">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="e-mail">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Logradouro</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Número</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Complemento</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label>CEP</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Bairro</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cidade</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Estado</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <button class="btn btn-outline-secondary mr-auto border">
                            Cancelar Alteração
                        </button>
                        <button class="btn btn-success">
                            Salvar Condomínio
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
