<div class="row">
    <div class="col-12">
        <div class="card rounded shadow-sm">
            <form [formGroup]="formulario">
                <div class="p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="nome"
                                [ngClass]="gerarClassesValidacao(formControl.nome)">
                            <div *ngIf="formControl.nome?.hasError('required')" class="invalid-feedback">
                                Nome obrigatório
                            </div>
                            <div *ngIf="formControl.nome?.hasError('minlength')" class="invalid-feedback">
                                Nome deve ter pelo menos 2 caracteres
                            </div>
                            <div *ngIf="formControl.nome?.hasError('maxlength')" class="invalid-feedback">
                                Nome não pode ter mais de 100 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>CNPJ</label>
                            <input type="text" class="form-control" formControlName="cnpj" mask="00.000.000/0000-00"
                                [ngClass]="gerarClassesValidacao(formControl.cnpj)" placeholder="00.000.000/0000-00">
                            <div *ngIf="formControl.cnpj?.hasError('required')" class="invalid-feedback">
                                CNPJ obrigatório
                            </div>
                            <div *ngIf="formControl.cnpj?.hasError('cnpjInvalido')" class="invalid-feedback">
                                CNPJ inválido
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Quantidade de Blocos</label>
                            <input type="number" class="form-control" formControlName="quantidadeBlocos"
                                [ngClass]="gerarClassesValidacao(formControl.quantidadeBlocos)">
                            <div *ngIf="formControl.quantidadeBlocos?.hasError('required')" class="invalid-feedback">
                                Quantidade de blocos obrigatório
                            </div>
                            <div *ngIf="formControl.quantidadeBlocos?.hasError('min')" class="invalid-feedback">
                                Quantidade de blocos deve ser maior que 0
                            </div>
                            <div *ngIf="formControl.quantidadeBlocos?.hasError('max')" class="invalid-feedback">
                                Quantidade de blocos deve ser menor que 20
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Quantidade de Andares por Bloco</label>
                            <input type="number" class="form-control" formControlName="quantidadeAndares"
                                [ngClass]="gerarClassesValidacao(formControl.quantidadeAndares)">
                            <div *ngIf="formControl.quantidadeAndares?.hasError('required')" class="invalid-feedback">
                                Quantidade de andares obrigatório
                            </div>
                            <div *ngIf="formControl.quantidadeAndares?.hasError('min')" class="invalid-feedback">
                                Quantidade de andares deve ser maior que 0
                            </div>
                            <div *ngIf="formControl.quantidadeAndares?.hasError('max')" class="invalid-feedback">
                                Quantidade de andares deve ser menor que 40
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Quantidade de Unidades por Andar</label>
                            <input type="number" class="form-control" formControlName="quantidadeUnidades"
                                [ngClass]="gerarClassesValidacao(formControl.quantidadeUnidades)">
                            <div *ngIf="formControl.quantidadeUnidades?.hasError('required')" class="invalid-feedback">
                                Quantidade de unidades obrigatório
                            </div>
                            <div *ngIf="formControl.quantidadeUnidades?.hasError('min')" class="invalid-feedback">
                                Quantidade de unidades deve ser maior que 0
                            </div>
                            <div *ngIf="formControl.quantidadeUnidades?.hasError('max')" class="invalid-feedback">
                                Quantidade de unidades deve ser menor que 10
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Telefone ou Celular</label>
                            <input type="text" class="form-control" formControlName="telefone" [mask]="mascaraTelefone"
                                [ngClass]="gerarClassesValidacao(formControl.telefone)"
                                placeholder="(00) 0000-0000 ou (00) 90000-0000">
                            <div *ngIf="formControl.telefone?.hasError('required')" class="invalid-feedback">
                                Telefone ou Celular obrigatório
                            </div>
                            <div *ngIf="formControl.telefone?.hasError('minlength')" class="invalid-feedback">
                                Telefone ou Celular deve ter pelo menos 10 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>E-Mail</label>
                            <input type="email" class="form-control" formControlName="email"
                                [ngClass]="gerarClassesValidacao(formControl.email)" placeholder="E-mail do Condomínio">
                            <div *ngIf="formControl.email?.hasError('required')" class="invalid-feedback">
                                Email obrigatório
                            </div>
                            <div *ngIf="formControl.email?.hasError('email')" class="invalid-feedback">
                                Email inválido
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Logradouro</label>
                            <input type="text" class="form-control" formControlName="logradouro"
                                [ngClass]="gerarClassesValidacao(formControl.logradouro)">
                            <div *ngIf="formControl.logradouro?.hasError('required')" class="invalid-feedback">
                                Logradouro obrigatório
                            </div>
                            <div *ngIf="formControl.logradouro?.hasError('minlength')" class="invalid-feedback">
                                Logradouro deve ter pelo menos 3 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Número</label>
                            <input type="text" class="form-control" formControlName="numero"
                                [ngClass]="gerarClassesValidacao(formControl.numero)">
                            <div *ngIf="formControl.numero?.hasError('required')" class="invalid-feedback">
                                Número obrigatório
                            </div>
                            <div *ngIf="formControl.numero?.hasError('pattern')" class="invalid-feedback">
                                Apenas números são permitidos
                            </div>
                            <div *ngIf="formControl.numero?.hasError('min')" class="invalid-feedback">
                                O número deve ser maior que 0
                            </div>
                            <div *ngIf="formControl.numero?.hasError('max')" class="invalid-feedback">
                                O número deve ser menor ou igual a 9999
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Complemento</label>
                            <input type="text" class="form-control" formControlName="complemento"
                                [ngClass]="gerarClassesValidacao(formControl.complemento)">
                            <div *ngIf="formControl.complemento?.hasError('required')" class="invalid-feedback">
                                Complemento obrigatório
                            </div>
                            <div *ngIf="formControl.complemento?.hasError('minlength')" class="invalid-feedback">
                                Complemento deve ter pelo menos 3 caracteres
                            </div>
                            <div *ngIf="formControl.complemento?.hasError('maxlength')" class="invalid-feedback">
                                Complemento deve ter no máximo 50 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>CEP</label>
                            <input type="text" class="form-control" formControlName="cep" mask="00000-000"
                                [ngClass]="gerarClassesValidacao(formControl.cep)" placeholder="00000-000">
                            <div *ngIf="formControl.cep?.hasError('required')" class="invalid-feedback">
                                CEP obrigatório
                            </div>
                            <div *ngIf="formControl.cep?.hasError('minlength')" class="invalid-feedback">
                                CEP deve ter pelo menos 8 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Bairro</label>
                            <input type="text" class="form-control" formControlName="bairro"
                                [ngClass]="gerarClassesValidacao(formControl.bairro)">
                            <div *ngIf="formControl.bairro?.hasError('required')" class="invalid-feedback">
                                Bairro obrigatório
                            </div>
                            <div *ngIf="formControl.bairro?.hasError('minlength')" class="invalid-feedback">
                                Bairro deve ter pelo menos 3 caracteres
                            </div>
                            <div *ngIf="formControl.bairro?.hasError('maxlength')" class="invalid-feedback">
                                Bairro deve ter no máximo 50 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cidade</label>
                            <input type="text" class="form-control" formControlName="cidade"
                                [ngClass]="gerarClassesValidacao(formControl.cidade)">
                            <div *ngIf="formControl.cidade?.hasError('required')" class="invalid-feedback">
                                Cidade obrigatório
                            </div>
                            <div *ngIf="formControl.cidade?.hasError('minlength')" class="invalid-feedback">
                                Cidade deve ter pelo menos 3 caracteres
                            </div>
                            <div *ngIf="formControl.cidade?.hasError('maxlength')" class="invalid-feedback">
                                Cidade deve ter no máximo 50 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Estado</label>
                            <select class="form-control" formControlName="estado"
                                [ngClass]="gerarClassesValidacao(formControl.estado)">
                                <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                            </select>
                            <div *ngIf="formControl.estado?.hasError('required')" class="invalid-feedback">
                                Estado obrigatório
                            </div>
                            <div *ngIf="formControl.estado?.hasError('minlength')" class="invalid-feedback">
                                Estado inválido
                            </div>
                            <div *ngIf="formControl.estado?.hasError('maxlength')" class="invalid-feedback">
                                Estado inválido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-secondary border" (click)="reiniciarFormulario($event)">
                            <i class="fas fa-undo"></i> Cancelar Alteração
                        </button>
                        <div>
                            <button class="btn btn-primary mr-2" (click)="voltarALista($event)">
                                <i class="fas fa-list"></i> Voltar à Lista
                            </button>
                            <button class="btn btn-success" [disabled]="formulario.invalid"
                                (click)="submeterFormulario()">
                                Salvar Condomínio
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>