<mat-card class="content">
    <mat-card-content>
        <!-- Logo -->
        <div class="logo-container">
            <img src="/assets/images/entrega-segura-logo.png" alt="LogoEntregaSegura" class="logo">
        </div>

        <!-- Título -->
        <mat-card-title class="title">
            Bem-vindo ao EntregaSegura
        </mat-card-title>

        <form [formGroup]="loginForm" (ngSubmit)="efetuarLogin()" class="form-content lg-form">

            <!-- Campo E-mail -->
            <mat-form-field appearance="standard">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" placeholder="E-mail" required>
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.invalid">
                    Por favor, insira um e-mail válido.
                </mat-error>
            </mat-form-field>

            <!-- Campo Senha -->
            <mat-form-field appearance="standard">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha" placeholder="Senha" required>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="loginForm.get('senha')?.invalid">
                    Por favor, insira uma senha.
                </mat-error>
            </mat-form-field>

            <!-- Container para botão e link de recuperação -->
            <div class="button-reset-container">

                <!-- Botão de submissão -->
                <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Entrar</button>

                <!-- Link para recuperação de senha -->
                <div class="password-reset">
                    <a href="/recuperar-senha">Esqueceu sua senha?</a>
                </div>

            </div>

        </form>
    </mat-card-content>
</mat-card>