.mat-toolbar.mat-primary {
    background: transparent;
    color: #123456; // Escolha uma cor que se harmonize com o resto do seu design.
    border-bottom: 1px solid #ccc; // Adiciona uma linha divisória.
}

.mat-toolbar-row {
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600; // torna a fonte mais ousada
    padding: 20px 10px; // Adiciona espaço em torno do título

    span {
        display: flex;
        align-items: center;
    }

    .mat-icon {
        margin-right: 10px; // espaço entre o ícone e o título
    }
}