<app-titulo [icone]="'work'" [titulo]="titulo"></app-titulo>

<div class="row end-xs mt-1">
    <div class="col-xs-12">
        <a routerLink="/funcionarios" color="primary" mat-raised-button>
            <mat-icon>chevron_left</mat-icon>
            Voltar
        </a>
    </div>
</div>

<div class="container mt-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="formulario" (ngSubmit)="submeterFormulario()" class="form-content lg-form">
                        <div class="row">
                            <h2>Informações do Funcionário</h2>

                            <!-- Campo - Condomínio -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Condomínio</mat-label>
                                    <mat-select formControlName="condominioId" required>
                                        <mat-option *ngFor="let condominio of condominios" [value]="condominio.id">
                                            {{condominio.nome}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>business</mat-icon>
                                    <mat-error *ngIf="formulario.get('condominioId')?.hasError('required')">
                                        Por favor, selecione um condomínio.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - Nome -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Nome</mat-label>
                                    <input formControlName="nome" matInput placeholder="Nome" required>
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-error *ngIf="formulario.get('nome')?.hasError('required')">
                                        Por favor, insira um nome.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('nome')?.hasError('minlength')">
                                        O tamanho do nome do funcionário não deve ser menor que 2 caracteres.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('nome')?.hasError('maxlength')">
                                        O tamanho do nome do funcionário não deve ser maior que 100 caracteres.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - CPF -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>CPF</mat-label>
                                    <input formControlName="cpf" matInput placeholder="CPF" mask="000.000.000-00"
                                        required>
                                    <mat-icon matSuffix>credit_card</mat-icon>
                                    <mat-error *ngIf="formulario.get('cpf')?.hasError('required')">
                                        Por favor, insira um CPF.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('cpf')?.hasError('cpfInvalido')">
                                        O CPF informado é inválido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - Telefone -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Telefone</mat-label>
                                    <input formControlName="telefone" matInput placeholder="Telefone"
                                        [mask]="mascaraTelefone" required>
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <mat-error *ngIf="formulario.get('telefone')?.hasError('required')">
                                        Por favor, insira um telefone.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('telefone')?.hasError('minlength')">
                                        O telefone informado é inválido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - E-mail -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>E-mail</mat-label>
                                    <input formControlName="email" matInput placeholder="E-mail" email required>
                                    <mat-icon matSuffix>mail</mat-icon>
                                    <mat-error *ngIf="formulario.get('email')?.hasError('required')">
                                        Por favor, insira um e-mail.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('email')?.hasError('email')">
                                        O e-mail informado é inválido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - Cargo -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Cargo</mat-label>
                                    <mat-select formControlName="cargo" required>
                                        <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                                            {{cargo}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formulario.get('cargo')?.invalid">
                                        Por favor, selecione um cargo.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - Data de Admissão -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Data de Admissão</mat-label>
                                    <input [matDatepicker]="pickerDataAdmissao" formControlName="dataAdmissao" matInput
                                        placeholder="Data de Admissão" required readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerDataAdmissao"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDataAdmissao></mat-datepicker>
                                    <mat-error *ngIf="formulario.get('dataAdmissao')?.invalid">
                                        Por favor, insira uma data de admissão válida.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo - Data de Demissão -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Data de Demissão</mat-label>
                                    <input [matDatepicker]="pickerDataDemissao" formControlName="dataDemissao" matInput
                                        placeholder="Data de Demissão" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerDataDemissao"
                                        (click)="limparData(formControl.dataDemissao)"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDataDemissao></mat-datepicker>
                                    <mat-error *ngIf="formulario.get('dataDemissao')?.invalid">
                                        Por favor, insira uma data de demissão válida.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button mat-button color="accent" type="button"
                                            (click)="reiniciarFormulario($event)" style="width: 100%">Limpar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button mat-raised-button color="primary" type="submit"
                                            style="width: 100%">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>