<app-titulo [icone]="'apartment'" [titulo]="titulo"></app-titulo>

<div class="row end-xs mt-1">
    <div class="col-xs-12">
        <input type="text" class="campo-pesquisa" placeholder="Pesquisar"
               [(ngModel)]="filtroCondominio" (keyup)="filtrarCondominios()">
        <a routerLink="/condominios/novo" mat-raised-button color="primary" class="ml-1">
            <span>Novo Condomínio</span>
        </a>
    </div>
</div>

<div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

        <!-- Coluna - Nome -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let condominio"> {{condominio.nome}} </td>
        </ng-container>

        <!-- Coluna - Telefone -->
        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="telefone-coluna"> Telefone </th>
            <td mat-cell *matCellDef="let condominio" class="telefone-coluna"> {{ condominio.telefone | formatarTelefone }} </td>
        </ng-container>

        <!-- Coluna - Bairro -->
        <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bairro-coluna"> Bairro </th>
            <td mat-cell *matCellDef="let condominio" class="bairro-coluna"> {{condominio.bairro}} </td>
        </ng-container>

        <!-- Coluna - Cidade -->
        <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cidade-coluna"> Cidade </th>
            <td mat-cell *matCellDef="let condominio" class="cidade-coluna"> {{condominio.cidade}} </td>
        </ng-container>

        <!-- Coluna - Estado -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="estado-coluna"> Estado </th>
            <td mat-cell *matCellDef="let condominio" class="estado-coluna"> {{condominio.estado}} </td>
        </ng-container>

        <!-- Coluna - Ações -->
        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let condominio">
                <div class="acoes-container">
                    <button mat-icon-button color="primary" (click)="editarCondominio(condominio.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="excluirCondominio(condominio.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>