<mat-toolbar>
    <mat-toolbar-row>
        <span>
            <mat-icon>apartment</mat-icon>
            Lista de Condomínios
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="row end-xs mt-1">
    <div class="col-xs-12">
        <input type="text" class="campo-pesquisa" placeholder="Pesquisar condomínio"
                [(ngModel)]="filtroCondominio" (keyup)="filtarCondominios()">
        <a routerLink="/estudantes/novo" mat-raised-button color="primary" class="ml-1">
            <span>Novo Condomínio</span>
        </a>
    </div>
</div>

<div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

        <!-- Coluna - Nome -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let condominio"> {{condominio.nome}} </td>
        </ng-container>

        <!-- Coluna - Telefone -->
        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
            <td mat-cell *matCellDef="let condominio"> {{ condominio.telefone | formatarTelefone }} </td>
            <td mat-cell *matCellDef="let condominio"> {{ condominio.telefone }} </td>
        </ng-container>

        <!-- Coluna - Bairro -->
        <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </th>
            <td mat-cell *matCellDef="let condominio"> {{condominio.bairro}} </td>
        </ng-container>

        <!-- Coluna - Cidade -->
        <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </th>
            <td mat-cell *matCellDef="let condominio"> {{condominio.cidade}} </td>
        </ng-container>

        <!-- Coluna - Estado -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let condominio"> {{condominio.estado}} </td>
        </ng-container>

        <!-- Coluna - Editar -->
        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editarCondominio(element.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="excluirCondominio(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>