body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.menu-espacamento {
    flex: 1 1 auto;
}

.navbar-principal {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #1b6ec2;
}

.mat-toolbar.mat-primary {
    background: #E1DFE1;
    color: #ffffff;
}

.mat-sidenav .mat-expansion-panel-header {
    padding: 0 14px;
    .mat-icon {
        margin: 0 4px;
    }
}

.mat-sidenav .mat-expansion-panel-header.mat-expanded {
    height: 48px;
}

.mat-sidenav .mat-expansion-panel-body {
    padding: 0;
    .mat-nav-list .mat-list-item {
        padding-left: 24px;
        font-size: 14px;
        height: 40px;
    }
}