@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-toastr/toastr';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.ml-1 {
    margin-left: 1em !important;
}

.mt-1 {
    margin-top: 1em !important;
}