<div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
    <div class="d-flex align-items-center mr-auto">
        <i class="{{classeIcone}} me-3 fs-1"></i> 
        <div class="lh-1 ml-3"> 
            <h2 class="mb-0">{{titulo}}</h2>
            <small>{{subtitulo}}</small>
        </div>
    </div>
    <div class="p-3" *ngIf="botaoListar">
        <button class="btn btn-outline-light" (click)="navegarParaRotaBotaoListar()">
            Listar {{titulo}}
        </button>
        
    </div>
</div>