.row,
.form-row {
    align-items: center;
    margin-top: 20px;
}

.mat-card {
    margin-top: 20px;
}

.form-group {
    position: relative;
}

.form-group button {
    position: absolute;
    right: 0;
    top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}