<mat-toolbar color="primary">
    <mat-toolbar-row class="navbar-principal">
        <!-- Logo -->
        <img src="/assets/images/entrega-segura-logo.png" alt="LogoEntregaSegura" class="logo">
        <h1>EntregaSegura</h1>
        <!-- Hamburger Menu -->
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-espacamento"></span>
        <button mat-button [matMenuTriggerFor]="notificationMenu">
            <mat-icon matBadge="{{quantidadeNotificacoes}}" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <mat-menu #notificationMenu="matMenu">
            <div *ngFor="let notification of notificacoes">
                <button mat-menu-item>
                    <div class="notification-content">
                        <span class="notification-header">
                            {{notification.dataRecebimento | date:'longDate'}}
                        </span>
                        <span class="notification-desc">
                            {{notification.transportadora}}
                        </span>
                    </div>
                </button>
                <mat-divider></mat-divider>
            </div>
        </mat-menu>
        <mat-menu #menuUsuario="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar Perfil</span>
            </button>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>