.logo {
    height: 40px;
    margin-right: 10px;
}

.notification-content {
    display: flex;
    flex-direction: column;
}

.notification-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-desc {
    font-size: 0.8em;
    color: gray;
}
