.container {
  margin-top: 20px;

  .row {
    .mat-card {
      margin-top: 20px;
      padding: 20px;

      .mat-form-field {
        width: 100%;
      }

      .mensagem-field {
        textarea {
          min-height: 100px;
        }
      }
    }
  }
}
