<app-nav #navComponent></app-nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 px-0">
            <app-nav></app-nav>
        </div>
        <div class="col-12 col-md-9 px-0">
            <div class="container my-4">
                <router-outlet></router-outlet>
            </div>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
                <p style="color: white"> Carregando... </p>
            </ngx-spinner>
        </div>
    </div>
</div>
