<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img src="/assets/imagens/entrega-segura-logo.png" alt="LogoEntregaSegura" class="logo">
  EntregaSegura
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <input type="file" style="display:none" #fileInput (change)="uploadFoto($event)" accept="image/*">
    <img class="avatar mat-elevation-z8" [src]="caminhoFoto" (click)="fileInput.click()" />

    <h4 class="name">{{nomeUsuario}}</h4>
    <p class="designation">{{perfilUsuario}}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/condominios" *ngIf="perfilUsuario === 'Administrador' || perfilUsuario === 'Sindico'">
      <mat-icon>apartment</mat-icon>
      <span>Condomínios</span>
    </button>
    <button mat-button class="menu-button" routerLink="/unidades" *ngIf="perfilUsuario === 'Administrador' || perfilUsuario === 'Sindico'">
      <mat-icon>home</mat-icon>
      <span>Unidades</span>
    </button>
    <button mat-button class="menu-button" routerLink="/moradores" *ngIf="perfilUsuario === 'Administrador' || perfilUsuario === 'Sindico'">
      <mat-icon>people</mat-icon>
      <span>Moradores</span>
    </button>
    <button mat-button class="menu-button" routerLink="/entregas">
      <mat-icon>inventory</mat-icon>
      <span>Entregas</span>
    </button>
    <button mat-button class="menu-button" routerLink="/funcionarios" *ngIf="perfilUsuario === 'Administrador'">
      <mat-icon>work</mat-icon>
      <span>Funcionários</span>
    </button>
    <button mat-button class="menu-button" routerLink="/transportadoras" *ngIf="perfilUsuario === 'Administrador' || perfilUsuario === 'Sindico' || perfilUsuario === 'Funcionario'">
      <mat-icon>local_shipping</mat-icon>
      <span>Transportadoras</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1b6ec2" type="square-jelly-box" [fullScreen]="true" [delay]="500">
  <p style="color: white" [innerHTML]="mensagemDeCarregamento"></p>
</ngx-spinner>