.navbar-custom {
  background-color: #394a6d;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-top {
    display: flex;
    align-items: center;

    .navbar-brand {
      margin-right: 20px;
    }

    .navbar-icons {
      display: flex;

      .nav-item {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .1);
  width: 250px;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.sidebar-nav {
  padding: 20px;
}

.nav-item {
  padding: 10px 0;
}

.nav-link {
  color: #333;

  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.user-initials {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
  }
}
