$primary-color: #1b6ec2;
$secondary-color: #f57c00;

.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
}

.options-column {
  text-align: center;
}

.table-responsive {
  border-radius: 0.25rem;
  overflow: hidden;
}

.custom-table {
  width: 100%;
}

.custom-table th, .custom-table td {
  text-align: center; 
  vertical-align: middle; 
}
