<app-nav></app-nav>

<div class="container">
    <app-dashboard></app-dashboard>
    <app-condominios></app-condominios>
    <app-contato></app-contato>
    <app-entregas></app-entregas>
    <app-funcionarios></app-funcionarios>
    <app-moradores></app-moradores>
    <app-perfil></app-perfil>
    <app-transportadoras></app-transportadoras>
    <app-unidades></app-unidades>

    <router-outlet></router-outlet>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Carregando... </p>
</ngx-spinner>