.row,
.form-row {
    align-items: center;
    margin-top: 20px;
}

.mat-card {
    margin-top: 20px;
}

.input-foto {
    display: none;
}

.upload-foto {
    display: flex;
    align-items: center;
    gap: 10px;
}
