<app-titulo [icone]="'home'" [titulo]="titulo" [exibirVoltar]="true" [rotaVoltar]="'/moradores'"></app-titulo>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="formulario" (ngSubmit)="submeterFormulario()" class="form-content lg-form">
                        <div class="row">
                            <h2>Informações do Morador</h2>

                            <!-- Campo Nome -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Nome</mat-label>
                                    <input formControlName="nome" matInput placeholder="Nome" required>
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-error *ngIf="formulario.get('nome')?.invalid">
                                        Por favor, insira o nome do morador.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo CPF -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>CPF</mat-label>
                                    <input formControlName="cpf" matInput placeholder="CPF" mask="000.000.000-00">
                                    <mat-icon matSuffix>credit_card</mat-icon>
                                    <mat-error *ngIf="formulario.get('cpf')?.invalid">
                                        Por favor, insira um CPF válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo Telefone -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Telefone</mat-label>
                                    <input formControlName="telefone" matInput placeholder="Telefone"
                                        [mask]="mascaraTelefone">
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <mat-error *ngIf="formulario.get('telefone')?.invalid">
                                        Por favor, insira um telefone válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo E-mail -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>E-mail</mat-label>
                                    <input formControlName="email" matInput placeholder="E-mail" email>
                                    <mat-icon matSuffix>mail</mat-icon>
                                    <mat-error *ngIf="formulario.get('email')?.invalid">
                                        Por favor, insira um e-mail válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo Ramal -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Ramal</mat-label>
                                    <input formControlName="ramal" matInput placeholder="Ramal">
                                    <mat-icon matSuffix>phone_in_talk</mat-icon>
                                    <mat-error *ngIf="formulario.get('ramal')?.invalid">
                                        Por favor, insira um ramal válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <div class="upload-foto">
                                    <button mat-button color="primary" class="upload-btn" (click)="uploadFoto.click()"
                                        type="button">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <span *ngIf="nomeArquivo == ''" class="placeholder-text">Selecione uma foto</span>
                                    <span *ngIf="nomeArquivo != ''" class="file-selected">{{nomeArquivo}}</span>
                                </div>
                                <input hidden type="file" class="input-foto" formControlName="foto" accept="image/*"
                                    (change)="onFileSelect($event)" #uploadFoto>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <button mat-button color="accent" type="button"
                                        (click)="reiniciarFormulario($event)" style="width: 100%">Limpar</button>
                                </div>
                                <div class="col-md-6">
                                    <button mat-raised-button color="primary" type="submit"
                                        style="width: 100%">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>