<app-titulo [icone]="'home'" [titulo]="titulo" [exibirVoltar]="true" [rotaVoltar]="'/unidades'"></app-titulo>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="formulario" (ngSubmit)="submeterFormulario()" class="form-content lg-form">
                        <div class="row">
                            <h2>Informações da Unidade</h2>

                            <!-- Campo Condomínio -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Condomínio</mat-label>
                                    <mat-select formControlName="condominioId" required>
                                        <mat-option *ngFor="let condominio of condominios" [value]="condominio.id">
                                            {{condominio.nome}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>business</mat-icon>
                                    <mat-error *ngIf="formulario.get('condominio')?.invalid">
                                        Por favor, selecione um condomínio.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo Bloco -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Bloco</mat-label>
                                    <input formControlName="bloco" matInput placeholder="Bloco">
                                    <mat-icon matSuffix>view_quilt</mat-icon>
                                    <mat-error *ngIf="formulario.get('bloco')?.invalid">
                                        Por favor, insira um bloco válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo Andar -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Andar</mat-label>
                                    <input formControlName="andar" matInput placeholder="Andar">
                                    <mat-icon matSuffix>stairs</mat-icon>
                                    <mat-error *ngIf="formulario.get('andar')?.invalid">
                                        Por favor, insira um andar válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Campo Número -->
                            <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Número</mat-label>
                                    <input formControlName="numero" matInput placeholder="Número">
                                    <mat-icon matSuffix>filter_1</mat-icon>
                                    <mat-error *ngIf="formulario.get('numero')?.invalid">
                                        Por favor, insira um número válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button mat-button color="accent" type="button"
                                            (click)="reiniciarFormulario($event)" style="width: 100%">Limpar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button mat-raised-button color="primary" type="submit"
                                            style="width: 100%">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>