<h2>Condomínios</h2>
<hr>

<div class="form-inline">
    <div class="form-group mb-2">
        <label class="mr-2">Filtro:</label>
        <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtro">
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="condominios && condominios.length > 0">
        <tr *ngFor="let condominio of condominiosFiltrados">
            <td>{{condominio.cnpj | formatCnpj}}</td>
            <td>{{condominio.nome}}</td>
            <td>{{condominio.telefone | formatTelefone}}</td>
            <td>{{condominio.bairro}}</td>
            <td>{{condominio.cidade}}</td>
            <td>{{condominio.estado}}</td>
            <td>
                <button class="btn btn-sm btn-primary mr-2">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" *ngIf="condominios.length == 0">
                Nenhum condomínio cadastrado.
            </td>
        </tr>
    </tfoot>
</table>