<h2>Componente Condomínio</h2>

<div *ngFor="let condominio of condominios">
    <p><b>Nome:</b> {{condominio.nome}}</p>
    <p><b>CNPJ:</b> {{condominio.cnpj}}</p>
    <p><b>Telefone:</b> {{condominio.telefone}}</p>
    <p><b>E-mail:</b> {{condominio.email}}</p>
    <p><b>Logradouro:</b> {{condominio.logradouro}}</p>
    <p><b>Número:</b> {{condominio.numero}}</p>
    <p><b>Complemento:</b> {{condominio.complemento}}</p>
    <p><b>Bairro:</b> {{condominio.bairro}}</p>
    <p><b>Cidade:</b> {{condominio.cidade}}</p>
    <p><b>Estado:</b> {{condominio.estado}}</p>
    <p><b>CEP:</b> {{condominio.cep}}</p>
    <hr>
</div>